<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usa Swimming Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/coaching">Coaching</a></li>
        <li><a href="/BuyEquip">Buy Equipments</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section class="coaching_container">
      <h1 class="hero-title">Learn Swimming from the Olmpic Swimmers.</h1>
      <br />
      <p class="hero-subtitle">
        We have the team of expert swimmers who have performed remarkably in
        Olmpics. They are ready to train you.
      </p>
    </section>
    <!-- <div class="secondary_coaching_container">
      <div class="col-md-12 col-sm-12 text-left"></div>
      <div class="col-sm-6 col-md-6 left-gym-img">
        <img
          src="http://shapes.pk/adminpanel/modules/swimming_management/midsection_images/AQS_29911_1493107664.jpg"
          alt=""
        />
        <span class="glyphicon glyphicon-triangle-right"></span>
      </div>

      <div class="col-sm-6 col-md-6 right-gym-data">
        <h6>Swimming</h6>
        <h2 class="media-heading">Swim your heart out</h2>
        <p>
          Swimming is one of the most strenous activities as it involves
          multiple compound muscles to work efficiently in water. Whether it is
          for fitness or leisure we ensure that our pools have crystal clear
          water. Our changing rooms are spotless and clean. Our friendly staff
          is available to welcome you and make&nbsp; the whole experience
          exceptional.
        </p>
      </div> -->
      <section class="third_container">
        <h1>Can’t get better than this</h1>
        <p>
          Curious about when you can enjoy some quality time in the water? Check
          out the swimming time table specifically created to accommodate our
          members:
        </p>
        <div class="regular-pool pull-right">
          <span class="custombutton_swimming">Regular pool</span>
          <ul class="clearfix nopadding nomargin pool-timing">
            <li>
              <p>06:30am – 10:30am <small>(Male Timings)</small></p>
            </li>
            <li>
              <p>11:00am – 04:30pm <small>(Female Timings)</small></p>
            </li>
            <li>
              <p>06:30am – 10:30am <small>(Male Timings)</small></p>
            </li>
          </ul>
        </div>
        <div class="premium-pool pull-left">
          <span class="custombutton_swimming">Premium pool</span>
          <ul class="clearfix nopadding nomargin pool-timing">
            <li>
              <p>08:00am – 11:00am <small>(Female Timings)</small></p>
            </li>
            <li>
              <p>12:00pm –05:00pm <small>(Male Timings)</small></p>
            </li>
            <li>
              <p>05:30pm – 08:00pm <small>(Female Timings)</small></p>
            </li>
            <li>
              <p>08:30pm – 10:00pm <small>(Male Timings)</small></p>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <footer class="footer_coaching">
      © Copyright 2021. Created by HASSAN QAYYUM
    </footer>
  </body>
</html>
