<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usa Swimming Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/coaching">Coaching</a></li>
        <li><a href="/BuyEquip">Buy Equipments</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section class="contact_primary_container">
      <h1 class="hero-title">More than just a website </h1>
      <br />
      <p class="hero-subtitle">
        Learn Swimming - Get Equipments - Be a Swimmer.
      </p>
    </section>
    <div class="contact_secondary_box">
      <section class="contact_secondary_container">

        <form id="contact" action="/contact" method="POST">
          <h4>Get in Touch</h4>
          <p>Please fill out the quick form and we will be in touch with
            lightening speed.</p>
          <div class="form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group">
            <label for="name">Phone No:</label>
            <input
              type="phone"
              name="phone"
              id="phone"
              placeholder="Enter your Phone-no"
            />
          </div>
          <div class="form-group">
            <label for="name">Message:</label>
            <textarea
              name="message"
              id="message"
              cols="38"
              rows="10"
            ></textarea>
          </div>
          <button
            name="submit"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
            value="register"
          >Submit</button>
        </form>
      </section>
      <section class="contact_tertiary_container">
        <h4>Connect With Us</h4>
        <p>For support or any questions:
          <br />
          Email us at
          <a
            href="support@usswimminghome.com"
          >support@usswimminghome.com</a></p>
        <h4>US Swimming Home USA</h4>
        <p>501 Silverside Road, Suite 105, Wilmington, Deleware 19809 USA</p>
        <h4>US Swimming Home Pakistan</h4>
        <p>114 Madina Town, Bahawal Nagar 6300 Pakistan</p>

      </section>
    </div>
    <footer class="footer_contact">© Copyright 2021. Created by HASSAN QAYYUM</footer>
  </body>
</html>