<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usa Swimming Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/coaching">Coaching</a></li>
        <li><a href="/BuyEquip">Order</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section class="main_container"></section>
    <section class="introSection">
      <h1 class="hero-title">
        Take your passion for swimming to the next level
      </h1>
      <br />
      <p class="hero-subtitle">
        We are supporting the swimming community with high-quality training and
        development, delivered in a safe learning environment.
      </p>
      <a href="/coaching"><button class="btn">Get Coaching Now</button></a>
    </section>
    <section class="productSection">
      <h2>SWIMMING EQUIPMENT</h2>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-1-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">BUY GOGGLES</button>
      </div>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-2-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">BUY CAPS</button>
      </div>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-3-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">BUY BAGS</button>
      </div>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-4-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">
          BUY TRAINING AIDS
        </button>
      </div>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-5-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">BUY EQUIPMENT</button>
      </div>
      <div class="card">
        <img
          src="https://proswim.scdn3.secure.raxcdn.com/media/wysiwyg/pearl_theme/homepage-v15/equipment-page-6-1.jpg"
          alt=""
        />
        <button class="Btn" onclick="location.href='#'">BUY NUTRITION</button>
      </div>
    </section>
    <section class="sponsorsSection">
      <div class="usas-bar-turmeric-centered"></div>
      <h2>OUR SPONSORS</h2>
      <div class="General_OurSponsors">
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_arena.png?sfvrsn=7f983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_marriott.png?sfvrsn=63983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_xfinity.png?sfvrsn=7c983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_omega.png?sfvrsn=38993232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_p66.png?sfvrsn=3c993232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_speedo.png?sfvrsn=7e983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_goldenroad.png?sfvrsn=1b993232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_tyr.png?sfvrsn=7a983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_toyota.png?sfvrsn=79983232_2"
          alt=""
        />
        <img
          src="https://www.usaswimming.org/images/default-source/sponsor-logos/site-footer/footerimageswebsite87x87_myrtha.png?sfvrsn=7d983232_2"
          alt=""
        />
      </div>
    </section>
    <footer>© Copyright 2021. Created by HASSAN QAYYUM</footer>
  </body>
</html>